tab(ng-controller='searchController' heading='Search' active="activeTab['search']")
  .search
    .search-controls
      form
        button.btn.btn-default(ng-click='processQuery()') Search
        input.form-control(ng-model='query')

    .results
      .panel.panel-default(ng-repeat='result in results')
        .panel-heading(ng-click='resultClick(result)') {{ result.filename }}
        .panel-body
          table
            tr(ng-repeat='line in result.lines')
              td.number {{ line.number }}
              td.content
                pre(inner-html='line.content')

